#### OUTPUT

In [2]:
print("Hello world!")

Hello world!

In [3]:
print('hellooo')

hellooo

In [4]:
print('hello")

SyntaxError: unterminated string literal (detected at line 1) (2736789527.py, line 1)

In [9]:
print('hello '
# world ')

_IncompleteInputError: incomplete input (218476716.py, line 2)

In [10]:
print('''
      hello
      world
      hyy 
      ''')

      hello
      world
      hyy

In [11]:
print("""
      Welcome
      to
      python
      programming""")

      Welcome
      to
      python
      programming

In [12]:
Print("Hello")

NameError: name 'Print' is not defined

In [13]:
print(HEllo)

NameError: name 'HEllo' is not defined

In [16]:
print("khush",'Tarang',sep=' ')
# sep = default -> space

khush Tarang

In [ ]:
print("khush",'Tarang','Vishwa',sep=', $ %')

khush, $ %Tarang, $ %Vishwa

In [21]:
print(25)

25

In [23]:







58 
96 
96.3
25


25
125

125

In [24]:
print(85)

85

In [25]:
print(59+69)

128

In [ ]:
print("Hello",end = '\n')
print("World")
# end = default -> \n-> new line

Hello
World

In [32]:
print("Hello",end = '             ^        ')
print("World")
print("Hello")

Hello             ^        World
Hello

In [27]:
print("khush",'Tarang','Vishwa',sep='\n')

khush
Tarang
Vishwa

In [28]:


print("student's information")

print('student\'s information')

student's information
student's information

#### Data Types

Different ways

a. 3 datatypes
1. Numeric  - int, float, complex
2. Text - string, boolean
3. Collection - list, tuple, dict, set


b. 5 data types and collection
1. Int
2. Float
3. String
4. Boolean
5. Complex

Collection:
1. list 
2. Tuple
3. Dict
4. Set

In [ ]:
##int  -> whole number
print(56)

56

In [3]:
type(565555)

int

In [4]:
# float - fractional values or decimal point
type(5.6)

float

In [5]:
type(1.0)

float

In [6]:
# string-> '' 
type('hello')

str

In [7]:
type('56')

str

In [8]:
type(' ')

str

In [9]:
type(" ")

str

In [10]:
# boolean -> true, false

In [11]:
type(true)

NameError: name 'true' is not defined

In [12]:
type(True)

bool

In [13]:
type(false)

NameError: name 'false' is not defined

In [14]:
type(False)

bool

In [15]:
# complex -> real+imaginary
type(1+5j)

complex

In [21]:
type(0.5+5j)

complex

In [37]:
# list -> []
print([1,2,3,4,5.2,'a',True])
type([1,2,3,4,5.2,'a',True])

[1, 2, 3, 4, 5.2, 'a', True]

list

In [25]:
# tuple - ()
type((1,2,3.5,'a'))

tuple

In [41]:
# dict = {k:v}
type({'a':'A','b':'B'})
type({(1,2):'One',2:'Two'})

dict

In [ ]:
# set - {} 
type({5,4,7,8,9,6,2,2,4,5,'a',8.0,9})

set

In [36]:
{5,4,7,8,9,6,2,2,4,5,'a',8.8,9,(4,5,2)}

{(4, 5, 2), 2, 4, 5, 6, 7, 8, 8.8, 9, 'a'}

#### VARIABLES

variable is a container that hold any value

In [42]:
age = 56

In [44]:
print('age')

age

In [45]:
print(age)

56

In [46]:
type(age)

int

In [47]:
age = 5.6

In [48]:
age

5.6

In [49]:
type(age)

float

Dynamic Typing -> it is the practice where you can change the value of variable anytime according to your need.


Dynamic Binding -> it is the practice where you can change the data type of the variable anytime, according to your need

In [50]:
a = 1
b=2
c=3

In [55]:
print('a = ',a,',','b = ',b,'c = ',c)

a =  1 , b =  2 c =  3

In [54]:
print(f"a = {a}, b = {b}, c = {c}")

a = 1, b = 2, c = 3

In [57]:
a,b,c = 10,20,30

In [58]:
print(f"a = {a}, b = {b}, c = {c}")

a = 10, b = 20, c = 30

In [59]:
a = b = c = 50

In [60]:
print(f"a = {a}, b = {b}, c = {c}")

a = 50, b = 50, c = 50

### KEYWORDS AND IDENTIFIER

Identifier are the name of the variables to identify it uniquely 


Keywords are the words which are already defined in python and have specific meaning  and cannot be used as identifiers

Rules:
1. Identifier should always start with _ or alphabets
2. Numbers can be used but after first character
3. Special characters are not allowed

In [66]:
_ = 5
_1 = 5
num1 = 5
n1 = 5

In [62]:
true = 5

In [22]:
# def , class, if, else, elif, for while 

'''hello# hthis is comment
hy
this
is 
python 
lecture
'''
print('hello')

hello

### USER INPUT

input()

In [67]:
input()

'python'

In [74]:
name = input("Enter your name")

In [69]:
name

'Priya'

In [75]:
age = input("Enter your age")

In [76]:
age

'52'

In [77]:
type(age)

str

In [78]:
int(age)

52

In [79]:
float(age)

52.0

In [80]:
age = int(age)

In [81]:
age

52

Typecasting -> it is method of converting data of one data type to another

In [82]:
age = int(input("enter your age"))

In [83]:
age

52

In [1]:
5 + 6.3

11.3

In [3]:
float(5) + 6.3

11.3

In [4]:
int()
float()
str()
bool()
complex()
list()
tuple()
dict()
set()

set()

In [5]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [1]:
int("True")

ValueError: invalid literal for int() with base 10: 'True'

In [2]:
int(True)

1

In [4]:
int('15+6j')

ValueError: invalid literal for int() with base 10: '15+6j'

In [5]:
int(5+6j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [6]:
bool(56)

True

In [12]:
complex(True)

(1+0j)

- int -> all data types

- all data types -> str

- all data types -> boolean

- str (int, float) -> int,float

- float -> all data types 

- complex -> str, boolean

- boolean -> all data types

In [10]:
bool(5+6j)

True

In [11]:
# int -> str
# str -> !int
bool(' ')

True

In [12]:
int(True)

1

In [13]:
int(False)

0

In [14]:
float(True)

1.0

In [11]:
complex(5.02)

(5.02+0j)

In [ ]:
# print(25,'a',int('a'))

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
# int([1,2,3,4,5])

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [19]:
complex(False)

0j

In [20]:
int('25')

25

### COMMENTS

comments are the code that are not going to be executed

### OPERATORS

operators are used to perform operations on operands


1. Arithmetic
2. Relational
3. Logical
4. Bitwise
5. Assignment
6. Membership

In [ ]:
5 + 6 = 11
# 5,6 -> operands
# + -> operator
# operation-> addition

In [24]:
## arithmetic

a = 5
b = 2

print(F"Addition of a & b is {a+b}")

print(F"Subtraction of a & b is {a-b}")


print(F"Multiplication of a & b is {a*b}")

print(F"Division of a & b is {a/b}")

print(F"Floor division of a & b is {a//b}")

print(F"Modulas of a & b is {a%b}")


print(F"a raised  b is {a**b}")
print(F"Square  of a  {a**2}")

Addition of a & b is 7
Subtraction of a & b is 3
Multiplication of a & b is 10
Division of a & b is 2.5
Floor division of a & b is 2
Modulas of a & b is 1
a raised  b is 25
Square  of a  25

In [8]:
num = int(input("Enter any 3 digit number"))

In [9]:
num

123

In [10]:
ones = num %10
tens = num//10%10
hundres = num//100

In [11]:
ones + tens+ hundres

6

In [ ]:
## logical operator

In [12]:
# and 
1 and 1

1

In [13]:
1 and 0

0

In [14]:
0 and 1

0

In [15]:
0 and  0

0

In [16]:
5 and 0

0

In [17]:
5 and  9

9

In [18]:
2 and -3

-3

In [19]:
2 and 3 and 5

5

In [20]:
2.5 and 0.5

0.5

In [21]:
'Hello' and 'World'

'World'

In [22]:
'Hello' and 0.5

0.5

In [24]:
'' and 0

''

In [25]:
## OR

In [26]:
0 or 1

1

In [ ]:
"hello" or 5

In [27]:
'' or 5

5

In [28]:
## not

In [29]:
not 5

False

In [30]:
not 0

True

In [31]:
not ''

True

In [1]:
not 'hello' and 'world'

False

In [27]:
## relational

In [28]:
a>b

True

In [29]:
a>=b

True

In [30]:
a<=b

False

In [31]:
a<b

False

In [34]:
a == b

True

In [33]:
a = b

In [35]:
a != b

False

In [2]:
# bitwise 
4 & 5

4

In [3]:
4 | 5

5

In [4]:
~1

-2

In [5]:
4>>1

2

In [6]:
4>>2

1

In [7]:
5<<1

10

In [8]:
5<<2

20

In [9]:
## assignment

In [10]:
a = 2

In [11]:
a = a+2 #=> a+=2
a-=2 # a=a-2
a*=2 # a=a *2

In [12]:
a

4

In [13]:
## membership

'a' in 'python'

False

In [14]:
'o' in 'python'

True

In [15]:
5 in [1,2,3,4,5]

True

In [16]:
'a' not in 'python'

True

In [17]:
# Take a 3-digit number input from the user and print its reverse

In [19]:
 # An Armstrong number is a number in which the sum of the cubes of its digits is equal
# to the number itself (e.g., 153 because 

#(1 **3+5 **3+3 **3=153). Check if a 3-digit number is an Armstrong number

In [20]:
# Take two numbers as input f?rom the user and swap their values using 
# only arithmetic operators (no temporary variables).

## CONTROL FLOW STATEMENTS

it controls the flow of execution, or control flow statements are used to change the flow of execution

Three types of Control flow statements are there:
1. Conditional Statements
2. Looping Statements
3. Loop Control Statements/Jump Statements

### CONDITIONAL STATEMENTS

In [22]:
a = 5
b = 9

In [23]:
if a > b:
    print(f"{a} is larger")
else:
    print(f"{b} is larger")

9 is larger

In [ ]:
#indentation

In [1]:
# 4. Write a program to calculate the electricity bill (accept number of unit from the user according to the following criteria.
# 	Unit 					               Price
# First 100 units			           no charge
# Next 100 units	               Rs 5 per unit
# After 200 units 		           Rs 10 per unit
# 350 -> 100 -> free
# 250 -> 100 -> 5
# 150 -> 10

In [4]:
units = int(input("enter your units"))
bill = 0
if units <=100:
    bill = 0
elif units > 100 and units <=200:
    bill = (units - 100)*5
    
elif units > 200 and units <=400:
    bill = (100* 5) + (units - 200) * 10

In [5]:
bill

2000

In [8]:
email = 'python@gmail.com'
pw='python@1234'

user_email = input("enter your mail")
user_pw = input("enter your password")

if email == user_email and pw == user_pw:
    print("login successful")
elif email == user_email and pw != user_pw:
    user_pw = input("your pw is incorrect, please enter again")
    if pw == user_pw:
        print("login")
    else:
        print("try after some time")
else:
    print("invalid credentials")

login successful

### LOOPs

In [10]:
i = 0
while i < 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [11]:
i = 0
while i < 100:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [13]:
num = int(input("enter any num"))
i = 1
while i <=10:
    print(f"{num} * {i} = {num * i}")
    i+=1

256 * 1 = 256
256 * 2 = 512
256 * 3 = 768
256 * 4 = 1024
256 * 5 = 1280
256 * 6 = 1536
256 * 7 = 1792
256 * 8 = 2048
256 * 9 = 2304
256 * 10 = 2560

In [1]:
# WAP to check whether a number is prime or not

In [ ]:
num  = int(input("enter a number"))

if num <=1:
    print(f"{num} is not prime")
else:
    i = 2
    prime = True
    while i <=num//2:
        if num%i == 0:
            prime=False
            break

        i+=1
    if prime :
        print(f"{num} is prime")
    else:
        print(f"{num} is not prime")

17 is prime

WAP to display sum of odd numbers and even numbers separately that fall between two numbers accepted from the user(including both numbers) using while loop

In [9]:
start = int(input("enter a starting number"))
end = int(input("enter a ending  number"))

sum_of_odd = 0
sum_of_even= 0

i = start
while i<=end:
    if i % 2 == 0:
        sum_of_even+=i
    else:
        sum_of_odd+=i
    i+=1

print(f"{sum_of_odd} is the sum of odd numbers and {sum_of_even} is the sum of even numbers")

60 is the sum of odd numbers and 50 is the sum of even numbers

In [10]:
5,7,9,11,13,15
6,8,10,12,14

(6, 8, 10, 12, 14)

In [11]:
a=0

In [12]:
for i in range(5,16,2):
    a+=i
print(a)

60

In [14]:
# WAP to accept 10 numbers from the user and display highest and lowest number 

i = 1
num = 10 
highest = 0
lowest = 0
while i<=10:
    num = int(input(f"enter the {i}th value"))
    i+=1

    if num > highest:
        highest = num
    if num < lowest:
        lowest = num 


print(f"{highest} is the highest number")
print(f"{lowest} is the lowest value")

9634 is the highest number
-632 is the lowest value

### FOR LOOP

In [20]:
for i in range(50,110,2):
    print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108

In [21]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [22]:
num = int(input("enter a value"))
for i in range(1,11):
    print(f"{num} * {i} = {num*i}")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [25]:
for i in range(1,25):
    if i == 15:
        break
    print(i)

print("hello")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
hello

In [ ]:
for i in range(1,25):
    if i == 15:
        continue
        print("hello ,heyy")
    print(i)

    print("hello ")

print("hello")

1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello
10
hello
11
hello
12
hello
13
hello
14
hello
16
hello
17
hello
18
hello
19
hello
20
hello
21
hello
22
hello
23
hello
24
hello
hello

In [32]:
for i in range(1,25):
    if i == 15:
        pass
    print(i)

print("hello")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
hello

In [ ]:
'''
*
**
***
****
*****
'''

In [33]:
'*'*5

'*****'

In [37]:
num = int(input("enter any num"))
for i in range(num+1):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
'''
*****
****
***
**
*
'''

In [38]:
num = int(input("enter any num"))
for i in range(num,0,-1):
    print('*'*i)

*****
****
***
**
*

In [ ]:
'''
    *
   ***
  *****
 *******
*********
'''

In [2]:
rows = int(input("enter any number"))
for i in range(1,rows+1):
    spaces = ' ' * (rows-i)
    stars = '*' * (2*i-1)
    print(spaces,stars)
for i in range(rows-1,0,-1):
    spaces = ' ' * (rows-i)
    stars = '*' * (2*i-1)
    print(spaces,stars)

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [ ]:
#     *
#    ***
#   *****
#  *******
# *********
#  *******
#   *****
#    ***
#     *

In [39]:
# 1
# 12
# 123
# 1234
# 12345

In [42]:
num = int(input("enter any num"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j, end = " ")

    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
'''
1 2 3 4 5 
1 2 3 4 
1 2 3 
1 2 
1 
'''

In [ ]:
'''
1
22
333
4444
55555
'''